.create-notebook-div {
    position: relative;
    left: 3rem;
    top: 2rem;
}

.create-notebook-div button {
    margin-bottom: .6rem;
}

.create-notebook-save-button {
    margin: .4rem;
    margin-bottom: 0;
}

.notebook-form input {
    width: 10.4rem;
    margin-top: .3rem;
}

form.notebook-form {
    margin-bottom: 0;
}

.create-notebook-div li {
    margin-left: 1.5%;
    font-size: 14px;
    max-width: 30%;
    word-wrap: break-word;
    list-style: none;
}
