#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    background-color: #8da9c4;
    border: solid 5px #eef4ed;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 0 1rem;
}
