.ql-container,
.ql-snow {
    margin: 0;
    width: 790px;
    height: 962px;
    z-index: 999;
    background-color: white;
    padding: 50px;
}


div.ql-toolbar.ql-snow {
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: #eef4ed;
    align-items: center;
    padding: 2px;
}

div.ql-toolbar.ql-snow span {
    height: auto;
    z-index: 9999;
}

.ql-editor {
    height: auto;
}

.ql-editor p,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
    color: black;
}

.edit-title-input {
    font-size: 34px;
    margin: 14.6px 0 14.2 0;
}

.errors {
    color: yellow;
}

.outer-div {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.quill {
    width: 800px;
    height: auto;
}

.editor-buttons {
    /* margin-top: 8px; */
    z-index: 10000;
}
