#root {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #8da9c4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}
