#root {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #8da9c4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    background: linear-gradient(190deg, #4b6cb7 0%, #182848 100%);
}

* {
    font-family: 'Inconsolata', monospace;
}

li,
p,
h3 {
    color: #eef4ed;
    cursor: default;
}

h3 {
    font-size: 30px;
    font-weight: 300;
}

button {
    align-self: center;
    background-color: #0b2545;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #eef4ed;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .1rem .5rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

input {
    margin-left: .3rem;
    margin-right: 1rem;
    border: none;
    appearance: none;
    background: #8da9c4;
    padding: 6px;
    border-radius: 5px;
    outline: none;
}

textarea {
    background: #8da9c4;
    border: solid #0b2545;
}

label {
    font-size: 14px;
}

button:disabled {
    opacity: 50%;
}
