p {
    cursor: default;
}

.note-form {
    margin-bottom: 0;
    position: absolute;
    z-index: 1000;
    background-color: #8da9c4;
    border: solid 5px #eef4ed;
}

.form-inner-container input {
    width: 73%;
}

.create-note-div {
    position: relative;
    margin: 0 20px;
}

.note-form input {
    width: 85%;
    margin: .5rem 0;
    margin-left: .3rem;
}

.notebook-selector {
    position: relative;
    top: 10px;
    margin: .3rem;
    width: 78%;
    margin-bottom: 25px;
    cursor: pointer;
}

.note-form-inner-container {
    display: flex;
    flex-direction: column;
}

.note-form-inner-container label {
    position: relative;
    top: 12px;
    color: white;
    margin: 0 0 0 8px;
}

.note-form-inner-container input {
    position: relative;
    top: 12px;
}

.note-form button {
    margin: 0 0 8px 6px;
}

.create-note-div li {
    font-size: 14px;
    width: 100%;
    margin: 0 0 12px 3px;
    word-wrap: break-word;
    list-style: none;
    color: yellow;
}

.content-input {
    width: 79%;
    height: 6rem;
    max-height: 12rem;
    margin: 2% 0;
    margin-left: 0;
    font-size: 14px;
    border: none;
    resize: none;
    overflow: auto;
    outline: none;
}

input.title-input {
    width: 73%;
}

select.notebook-selector {
    background: #8da9c4;
    color: white;
    outline: none;
    border: none;
}

select.notebook-selector option {
    background-color: #8da9c4;
}

.note-view {
    position: relative;
    float: right;
    top: 1.4rem;
    right: 1.8rem;
    width: 98%;
    height: 100%;
    background-color: #8da9c4;
    border: solid 5px #eef4ed;
    z-index: 10;
}

p.select-note {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.select-note-box {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.note-box {
    padding: 0 2rem;
    height: 100%;
}

.note-title {
    cursor: text;
}

p.note-content {
    cursor: text;
    overflow: visible;
    overflow-wrap: break-word;
}

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-50%);
    top: -1rem;
    width: auto;
    padding: .2rem 1rem;
    border-radius: 12px;
    background: #000;
    color: #eef4ed;
    text-align: center;
    font-size: 16px;
    opacity: .65;
    display: none;
}

.tooltip:hover:before {
    display: block;
}

.note-view ul {
    position: relative;
    margin: 0;
    left: 2rem;
    top: 1.2%;
}

.val-error {
    font-size: 14px;
    color: #eef4ed;
}

input.input-title {
    width: 94.4%;
    height: 5%;
    margin-top: 1.8rem;
    margin-left: 0;
    font-size: 26px;
}

.input-content {
    margin-top: 1.2rem;
    margin-left: .2rem;
    width: 96%;
    height: 70%;
    border: none;
    appearance: none;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    background: #eef4ed;
    font-size: 16px;
}

.sidebar-note-div {
    margin: -8px 0 16px 0;
    align-items: center;
    height: 26px;
}

.sidebar-note-div li {
    cursor: pointer;
}

button.delete-note {
    margin: 0 0 0 26px;
    padding: 0;
    font-size: 12px;
    padding: 0 10px;
    width: auto;
    height: auto;
}

.note-body {
    width: 690px;
    height: 930px;
    padding: 50px;
    background-color: white;
    border: solid 5px #eef4ed;
    color: black;
}

.note-body p,
.note-body h1,
.note-body h2,
.note-body h3 {
    color: black;
}

.outer-div {
    height: auto;
    width: 690px;
}

button {
    margin: 10px 0 2px 0;
}
