p {
    cursor: default;
}

.note-form {
    position: relative;
}

.create-note-div {
    position: relative;
    left: 3rem;
    top: 2rem;
}

button.create-note-button {
    margin: 0;
    margin-bottom: .5rem;
}

.note-form input {
    width: 10.4rem;
    margin: .5rem 0;
    margin-left: .3rem;
}

.notebook-selector {
    margin: .3rem;
    width: 10rem;
    margin-bottom: .8rem;
}

.note-form-inner-container {
    display: flex;
    flex-direction: column;
}

.note-form-inner-container label {
    color: #eef4ed;
    margin: 0;
    margin-left: .5rem;
}

.create-note-div li {
    margin: 2% 0;
    margin-left: 1.5%;
    font-size: 14px;
    max-width: 30%;
    word-wrap: break-word;
    list-style: none;
}

.note-view {
    position: absolute;
    top: 9.7%;
    right: 6%;
    width: 50%;
    height: 60%;
    background-color: #8da9c4;
    border: solid 5px #eef4ed;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.select-note {
    position: absolute;
    left: 6.7rem;
    top: 3rem;
}

.note-box {
    padding: 0 1rem;
    height: 100%;
}

.note-title {
    cursor: text;
}

.note-content {
    cursor: text;
}

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-50%);
    top: -1rem;
    width: auto;
    padding: .2rem 1rem;
    border-radius: 12px;
    background: #000;
    color: #eef4ed;
    text-align: center;
    font-size: 16px;
    opacity: .65;
    display: none;
}

.tooltip:hover:before {
    display: block;
}

.note-view ul {
    position: relative;
    margin: 0;
    left: 2rem;
    top: 1.2%;
}

.val-error {
    font-size: 14px;
    color: #eef4ed;
}

.input-title {
    width: 60%;
    height: 5%;
    margin-top: 1.8rem;
    font-size: 26px;
}

.input-content {
    margin-top: 1.2rem;
    margin-left: .2rem;
    width: 96%;
    height: 70%;
    border: none;
    appearance: none;
    background: #eef4ed;
    padding: 6px;
    border-radius: 5px;
    outline: none;
}
