p {
    cursor: default;
}

.note-form {
    position: relative;
}

.create-note-div {
    position: relative;
    left: 3rem;
    top: 2rem;
}

button.create-note-button {
    margin: 0;
    margin-bottom: .5rem;
}

.note-form input {
    width: 10.4rem;
    margin: .5rem 0;
    margin-left: .3rem;
}

.notebook-selector {
    margin: .3rem;
    width: 10rem;
    margin-bottom: .8rem;
}

.note-form-inner-container {
    display: flex;
    flex-direction: column;
}

.note-form-inner-container label {
    color: #eef4ed;
    margin: 0;
    margin-left: .5rem;
}

.create-note-div li {
    margin: 3% 0;
    margin-left: 1.5%;
    font-size: 14px;
    max-width: 30%;
    word-wrap: break-word;
    list-style: none;
}

.note-view {
    position: absolute;
    top: 9.7%;
    right: 6%;
    width: 50%;
    height: 60%;
    background-color: #8da9c4;
    border: solid 5px #eef4ed;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.select-note {
    position: absolute;
    left: 6.7rem;
    top: 3rem;
}

.note-box {
    padding: 1rem;
    height: 100%;
}

.note-title {
    cursor: text;
}

.note-content {
    cursor: text;
}

.tooltip {
    position: relative;
}

.tooltip:before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: -100%;
    transform: translateY(-50%);

    /* move to right */
    left: 10%;
    margin-left: 15px;
    /* and add a small left margin */

    /* basic styles */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;

    display: none;
}

.tooltip:hover:before {
    display: block;
}
