.splash-page {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.beaver-gif {
    margin-top: 2rem;
    width: auto;
    height: auto;
    border: solid 5px #eef4ed;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

h1 {
    color: #eef4ed;
    letter-spacing: 0.3rem;
    cursor: default;
}
