.login-form {
    width: 18rem;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding-top: 0;
}

label {
    margin: 8px 0;
    box-sizing: content-box;
    width: 90%;
}

input {
    box-sizing: content-box;
    width: 100%;
}
